{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<h2>Agregar Nueva Propiedad</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Agregar Propiedad">
</form>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const regionField = document.getElementById('id_region');
    const comunaField = document.getElementById('id_comuna');

    regionField.addEventListener('change', function() {
        const regionId = this.value;
        fetch(`/api/comunas/?region=${regionId}`)
            .then(response => response.json())
            .then(data => {
                comunaField.innerHTML = '';
                data.forEach(comuna => {
                    const option = document.createElement('option');
                    option.value = comuna.id;
                    option.textContent = comuna.nombre;
                    comunaField.appendChild(option);
                });
            });
    });
});
</script>

{% endblock %}
