{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= Inicio Carrusel ======= -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="position-relative">
        <img src="{% static 'assets/img/slide-1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="intro-body">
            <p class="intro-title-top">
              San Miguel, <br />
              Santiago
            </p>
            <h1 class="intro-title mb-4">
              <span class="color-b">921 </span> Varas Mena
              <br />
            </h1>
            <p class="intro-subtitle intro-price">
              <a href="property-single.html">
                <span class="price-a">Arriendo | $ 400.000</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="{% static 'assets/img/slide-2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="intro-body">
            <p class="intro-title-top">
              La Florida, <br />
              Santiago
            </p>
            <h1 class="intro-title mb-4">
              <span class="color-b">9423 </span> Av. La Florida <br />
            </h1>
            <p class="intro-subtitle intro-price">
              <a href="av-laflorida.html">
                <span class="price-a">Venta | UF $ 12.000</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img src="{% static 'assets/img/slide-1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <div class="intro-body">
            <p class="intro-title-top">
              Serrano, <br />
              Santiago
            </p>
            <h1 class="intro-title mb-4">
              <span class="color-b">654 </span> Santiago <br />
            </h1>
            <p class="intro-subtitle intro-price">
              <a href="av-laflorida.html">
                <span class="price-a">Venta | UF $ 12.000</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======= Fin Carrusel ======= -->

<!-- ======= Inicio Servicios ======= -->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Nuestros Servicios</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-cart"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Medios de Pago</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Ofrecemos diversas facilidades como subsidios, opciones de
              financiamiento flexibles y descuentos en el pie, para que
              puedas encontrar la vivienda ideal de acuerdo a tus
              necesidades y posibilidades económicas. Nuestro equipo está
              aquí para guiarte en cada paso del proceso y hacer que
              alcanzar tu hogar soñado sea más fácil que nunca.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'sobre_nosotros' %}" class="link-c link-icon"
              >Leer mas
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-calendar4-week"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Entregas Puntuales</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              En nuestro servicio, nos comprometemos a entregar tu hogar
              en las fechas acordadas y somos flexibles con los horarios
              para garantizar tu comodidad. Sabemos lo importante que es
              para ti tener tu propio espacio, por eso trabajamos
              diligentemente para cumplir con tus expectativas y hacer que
              el proceso de adquisición o arrendamiento sea lo más fluido
              posible.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'sobre_nosotros' %}" class="link-c link-icon"
              >Leer mas
              <span class="bi bi-calendar4-week"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="bi bi-card-checklist"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Estilo de vida</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Entendemos que tu hogar es más que solo un lugar para vivir;
              es donde creas recuerdos, compartes momentos especiales y
              construyes tu futuro. Por eso, nos esforzamos por ofrecerte
              propiedades que no solo cumplen con tus necesidades básicas,
              sino que también se adaptan a tu estilo de vida y te brindan
              la comodidad y la calidad que mereces.
            </p>
          </div>
          <div class="card-footer-c">
            <a href="{% url 'sobre_nosotros' %}" class="link-c link-icon"
              >Leer mas
              <span class="bi bi-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin servicios -->

{% endblock %}
