{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Nuestras Propiedades</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Inicio</a>
              </li>
              <li class="breadcrumb-item active" aria-curARRIENDO="page">
                Todas las Propiedades
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <!-- ======= Property Grid ======= -->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
            <form>
              <select class="custom-select">
                <option selected>Todas</option>
                <option value="1">Nuevas a Antiguas</option>
                <option value="2">En Arriendo</option>
                <option value="3">En Venta</option>
              </select>
            </form>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-1.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="eyzaguirre-730.html">
                      730 <br />
                      Eyzaguirre
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Venta | $320.000</span>
                  </div>
                  <a href="eyzaguirre-730.html" class="link-a"
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >100m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>3</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-7.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">
                      921 <br />
                      Varas Mena
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Arriendo | $400.000</span>
                  </div>
                  <a href="property-single.html" class="link-a"
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-6.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="av-laflorida.html">
                      9423 <br />
                      Av. La Florida
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Venta | $50.000.000</span>
                  </div>
                  <a href="av-laflorida.html" class="link-a"  
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >250m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>3</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-2.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="serrano-1576.html">
                      1576 <br />
                      Serrano
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Venta | $120.000.000</span>
                  </div>
                  <a href="serrano-1576.html" class="link-a"
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >166m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>3</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-4.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="algarrobal-20.html">
                      20 <br />
                      El Algarrobal
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Arriendo | $2.000.000</span>
                  </div>
                  <a href="algarrobal-20.html" class="link-a"
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >412m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>2</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img
                src="{% static 'assets/img/property-10.jpg' %}"
                alt=""
                class="img-a img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="756-volcan.html">
                      756 <br />
                      Volcán Choshuenco
                    </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Arriendo | $640.000</span>
                  </div>
                  <a href="756-volcan.html" class="link-a"
                    >Click para ver más
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Área</h4>
                      <span
                        >60m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Habit.</h4>
                      <span>3</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baños</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Estacio.</h4>
                      <span>2</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <span class="bi bi-chevron-left"></span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
            <!---  Esto servirá´si ponemos más casas"
              
              <li class="page-item ">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              --->
              <li class="page-item next">
                <a class="page-link" href="#">
                  <span class="bi bi-chevron-right"></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Property Grid Single-->
</main>
{% endblock %}