{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- ======= About Section ======= -->
 <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 position-relative">
          <div class="about-img-box">
            <img src="{% static 'assets/img/slide-about-1.jpg' %}" alt="" class="img-fluid"> 
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">Toñito's
              <span></span>
              <br> Desde 2002'
            </h3>
            <h4>Corredora de Propiedades</h4>
          </div>
        </div>
        <div class="col-md-12 section-t8 position-relative">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="{% static 'assets/img/casa_feliz.jpg' %}" alt="" >
            </div>
            <div class="col-lg-2  d-none d-lg-block position-relative">
              <div class="title-vertical d-flex justify-content-start">
                <span>Toñito's</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">Medios de
                  <span class="color-d">Pago</span> 
                  <br> 
                </h3>
              </div>
              <p class="color-text-a">
                Se ofrecen diferentes opciones para facilitar la adquisición de una vivienda, incluyendo subsidios, financiamiento flexible y descuentos en el pago inicial.
                El objetivo es ayudar a los clientes a encontrar una vivienda que se ajuste a sus necesidades y posibilidades económicas, con el apoyo de un equipo que guiará en todo el proceso.
              </p>
                <div class="title-box-d">
                  <h4 class="title-d">Entregas 
                    <span class="color-d">Puntuales</span> 
                    <br> 
                  </h4>
                </div>
              <p class="color-text-a">
                Se garantiza la entrega de la vivienda en las fechas acordadas, con flexibilidad en los horarios para asegurar la comodidad del cliente.
                El compromiso es cumplir con las expectativas del cliente y hacer que el proceso de adquisición o arrendamiento sea lo más fluido posible.
              </p>
                <div class="title-box-d">
                  <h5 class="title-d">Estilo de
                    <span class="color-d"> Vida</span> 
                    <br> 
                  </h5>
                </div>
              <p class="color-text-a">
                Se reconoce que un hogar es más que un lugar para vivir, sino donde se crean recuerdos y se construye el futuro. 
                Por ello, se ofrecen propiedades que no solo satisfacen las necesidades básicas, sino que también se adaptan al estilo de vida del cliente, proporcionando comodidad y calidad.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
     
{% endblock %}